<script setup>
import AuthService from "@tt-ui-mono/common/src/services/IAM";

const { user } = AuthService();
</script>

<template>
  <main>
    <h1>
      Welcome {{ `${user.first_name} ${user.last_name}` }}!
    </h1>
    <p>
      <a href="https://v3.vuejs.org/">Vue</a> +
      <a href="https://vitejs.dev/">Vite</a> +
      <a href="https://lerna.js.org/">Lerna</a>
      blueprint for a highly modular web application with NodeJS back-end
    </p>
    <p>
      <i>Tomasz Waraksa</i>
    </p>
    <p>
      Dublin, Ireland, 2021
    </p>
    <p>
      Check my blog at <a href="https://letsdebug.it">https://letsdebug.it</a>
      for more articles about programming and technology.
    </p>
  </main>
</template>

<style scoped lang="scss">
  main {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
  }
</style>