<script>
import { ref } from "vue";

export default {};
</script>

<template>
  <footer>client2</footer>
</template>

<style scoped lang="scss">
footer {
  flex: 0;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  background-color: #1f3763;
  color: white;

  .clock {
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
  }
}
</style>
